.table {
  width: 100%;
  min-width: 800px;
  border-collapse: separate;
  border-spacing: 0; /* no spacing between cells */
  border-radius: 8px; 
  overflow: hidden; /* Ensure border radius applies inside */
}

.th,
.td {
  padding: 12px 16px; 
  border: 1px solid #ccc;
  text-align: center;
  font-size: 14px;
  color: #1e1e1e;

}

.th {
  background-color: #f5f5f5;
  font-weight: 600;
}
  