.rowMacro {
  background-color: #ffffff;
}

.rowEquities {
  background-color: #ebf5ff;
}

.rowCredit {
  background-color: #e6f9e6;
}

.rowDefault {
  background-color: #f1f1f1;
}

.pricePositive {
  color: #1e40af !important;
}

.priceNegative {
  color: #dc2626 !important;
}
